* {
	margin:0;
}

body, html {
	height: 100%; 
	font-family: Lato;
}

body > header {
	height: 60px;
	width: 100%;
	/* box-shadow: 0 1px 20px rgba(85, 191, 217,1); */
	background: #FFF;
	line-height: 60px;
	z-index: 1;
}

header > h1
{
	font-size: 24px;
	font-family: Raleway;
	display: table-cell;
	float: left;
}

header > nav {
	font-size: 18px;
	display: table-cell;
	float: right;
}

header > nav > a {
	color: #55bfd9;
	/* font-size: 18px; */
}

@media only screen and (max-width: 800px){
   header > nav {
     display: none;
   }
   
   header > h1
     {
	width: 100%;
    text-align: center;
   }   
   
    .about > p
	{
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 20px;
	}
	
	.about >p:first-of-type
	{
		margin-top: 20px;
	}
	
	.about > h1
	{
	padding-top: 30px;
	}
}

@media only screen and (min-width: 800px){
	
   header > h1 {
   margin-left: 100px;
   }
   
   header > nav {
   margin-right: 100px;
   }
   
   .quote {
		height: 100%;
   }
   
   .about > p
	{
	padding-left:25%;
	padding-right:25%;
	margin-top: 50px;
	}
	
	.about
	{
		padding-bottom: 50px;
	}
	
	.about > h1
	{
	padding-top: 50px;
	}
}

.mainContent {
	min-height: 100%;
	height: 100%;
	text-align: center;
}

.quote {
	background-color: #0F0F0F;
	height: calc(100% - 60px);
	padding-left: 50px;
	padding-right: 50px;
	/* background-image: url("blue-eyed-kitten-16886.jpg"); */
	background-repeat: no-repeat;
	display: flex; /* opt into the new box model */ 
    justify-content: center; /* "align" */
    align-items: center; /* "valign" */
	z-index: 0;
}

blockquote {
	font-family: Raleway;
	font-size: 4vmin;
	line-height: 2em;
	/* top: 30%; */
	/* position: relative; */
	color: #FFF;
}

blockquote > p {
	font-weight: bold;
}

blockquote  > p:first-of-type::before {
    content:"\201E";
    font-size:4vmin;
}

blockquote  > p:last-of-type::after {
    content:"\201D";
    font-size:4vmin;}
	
blockquote > footer {
	font-size:3vmin;
	margin: 0 auto;
}

blockquote > footer > p {
	display:inline;
}

blockquote > footer > p::after {
	content:" - ";
}

blockquote > footer > cite {
	display:inline;
}

.about {
	background-color: #55bfd9;
	height: 100%; 
	min-height: 100%;
}

.about > h1
{
	font-size: 5vmin;
	font-family: Lato;
	color: white;
}

	.about > p
	{
	font-size: 2.3vmin;
	color: white;
	font-family: Raleway;
	line-height: 2em;
	text-align: justify;
	}

.subscribe {
	background-color: #00F;
	height: calc(100% - 45px);
	/* background-image: url("images.jpg"); */
}

.authorInfo {
	height: 45px; 
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 45px;
	font-family: Lato;
	text-align: center;
	color: #FFF;
	background: #55bfd9;
	box-shadow: 0 -1px 25px rgba(85, 191, 217,1);
}
