* {
	margin: 0;
}

html, body {
	height: 100%;
	font-family: Lato;
}

body > header {
	height: 50px;
	width: 100%;
	box-shadow: 0 1px 20px rgba(46,100,254,1);
	background: #FFF;
	line-height: 60px;
	z-index: 1;
	display: table;
}

header > h1
{
	font-size: 24px;
	font-family: Raleway;
	display: table-cell;
	float: left;
}

header > nav {
	display: table-cell;
	font-size: 18px;
	float: right;
}

@media only screen and (max-width: 600px){
   header > nav {
     display: none;
   }
   body > header {
   }
   
   header > h1 {
   margin-left: 100px;
   }
}

@media only screen and (min-width: 600px){
   body > header {
   	position: fixed;
	}
	
   header > h1 {
   margin-left: 100px;
   }
   
   header > nav {
   margin-right: 100px;
   }
}


main {
	min-height: 100%;
	margin-bottom: -60px;
	box-sizing: border-box;
	padding-top: 60px;
	text-align: center;
}

.quote {
	margin-top: 15%;
}

.mailingList {
    margin-top: 21%;
	font-size: 72px;
}

blockquote {
	font-family: Raleway;
	font-size: 36px;
	line-height: 1.5em;
}

blockquote  > p:first-of-type::before {
    content:"\201E";
    font-size:1.5em;
}

blockquote  > p:last-of-type::after {
    content:"\201D";
    font-size:1.5em;}


/* cite:before {
    content:"\2014"
} */

body > footer {
	height: 60px; 
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 60px;
	font-family: Lato;
	text-align: center;
	color: #FFF;
	background: #2E64FE;
	box-shadow: 0 -1px 25px rgba(46,100,254,0.8);
}